.product-list-container {
    margin: 16px;
  }
  
  .loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }